.hero {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.hero-left-image {
    height: 400px;
}

.hero-right-section-container {
    width: 25%;
    margin-left: 5%;
    margin-top: -2%;
    
}

.hero-intro {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.hero-description {
    font-size: 1.2rem;
}

.hero-btn {
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(3, 0, 40);
}

.hero-btn:hover {
    cursor: pointer;
}